.character-details {
  &-title {
    line-height: 1.2;
  }
  &-year {
    color: #525252;
  }
  &-info {
    a {
      border-bottom: 1px dashed;
      &:hover {
        border-bottom: 0;
        text-decoration: none;
      }
    }
  }
}
