$itemRadius: 20px;

.minimal-list {
  &-item {
    overflow: hidden;
    border-radius: $itemRadius;
    transform: scale(1, 1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    &:hover {
      opacity: 0.8;
      transform: scale(0.9, 0.9);
      transition-delay: 0.3s;
    }
    &-inner {
      width: 100%;
      height: 200px;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border-radius: $itemRadius;
      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline: none;
        opacity: 0.5;
      }
    }
    &-overlay {
      width: 100%;
      transform: scale(1, 1);
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.9) 20%,
        rgba(0, 0, 0, 0.2) 60%,
        rgba(0, 0, 0, 0.9) 100%
      );
    }
    &-details {
      height: 100%;
    }
    &-year {
      color: #525252;
    }
    &-video-counter {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 10px;
    }
    .mosaic-image-container {
      border-radius: $itemRadius;
    }
  }
}
