.mosaic-image-container {
  width: 100%;
  height: 100%;
  border: 6px solid transparent;
  overflow: hidden;
  .mosaic-image {
    width: 50%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    &.single {
      width: 100%;
      height: 100%;
    }
  }
}
