html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #17181c;
  color: #fff;
  font-family: 'Roboto', Helvetica Neue, Helvetica, sans-serif;
}

.container {
  max-width: 1240px !important;
  width: 100%;
}
