html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', Helvetica Neue, Helvetica, sans-serif;
  background-color: #17181c;
  color: white;
}

a {
  color: inherit;
}

.container {
  max-width: 1240px !important;
  width: 100%;
  &-inner-narrow {
    max-width: 960px;
    width: 95%;
  }
}

#nprogress {
  .bar {
    background: #00d630;
  }

  .peg,
  .spinner {
    display: none;
  }
}
