@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

@import '../node_modules/normalize.css/normalize.css';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #17181c;
  color: #fff;
  font-family: 'Roboto', Helvetica Neue, Helvetica, sans-serif;
}
