.cartoon-details {
  &-title {
    line-height: 1.2;
  }
  &-year {
    color: #525252;
  }
  &-sidebar {
    max-width: 250px;
  }
  &-poster img {
    width: 100%;
  }
  &-info {
    a {
      border-bottom: 1px dashed;
      &:hover {
        border-bottom: 0;
        text-decoration: none;
      }
    }
  }
  &-favorites-btn {
    padding: 0.7rem 1rem !important;
  }
  &-share-btn {
    cursor: pointer;
    outline: none;
  }
}
