.cartoon-details {
  &-title {
    line-height: 1.2;
  }
  &-year {
    color: #525252;
  }
  &-info {
    a {
      border-bottom: 1px dashed;
      &:hover {
        border-bottom: 0;
        text-decoration: none;
      }
    }
  }
  &-favorites-btn {
    // background-color: #00d630 !important;
    max-width: 250px;
    padding: 0.7rem 1rem !important;
  }
}
